@model IEnumerable<LibraryData.Models.Reminder>

@if (Model.Count() == 0)
{   
  <span>You have no Reminders set.</span>
}

@foreach (var item in Model)
{
    <div class="table">
        <div class="d-flex flex-column">
            <div class="d-flex"><h6><i>@Html.DisplayFor(modelItem => item.Book.Title)</i></h6></div>
            <div class="d-flex flex-row">
                <div class="d-flex pr-2">Available on: </div>
                <div class="d-flex flex-fill justify-content-center">
                    <div class="d-flex ">
                        @{
                            List<LibraryData.Models.Rental> rentals = new List<LibraryData.Models.Rental>();
                            var exists = rentals.Where(x => x.BookId == item.BookId);

                             foreach (var rental in ViewData["Rentals"] as List<LibraryData.Models.Rental>)
                            {
                                rentals.Add(rental);
                            }

                            if (item.Book.Rental.ReturnDate.Date > DateTime.Today.Date)
                            {
                                <b><i>@Html.DisplayFor(modelItem => item.Book.Rental.ReturnDate)</i></b>
                            }                           

                            else if (exists != null)
                            {
                                <b style="color: darkred">NOT RETURNED</b>
                            }

                            else
                            {
                                <b style="color: green">AVAILABLE</b>
                            }
                        }
                    </div>
                </div>
                <div class="d-flex">
                    <form asp-action="DeleteReminder" asp-controller="Rental" method="post" asp-route-bookid="@item.Book.Id" asp-route-userid="1">
                        <div class="bm-delete">
                            <button type="submit" class="bg-transparent border-0 btn-rating">
                                <i class="fas fa-window-close thumb-red"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr />
}
