@{
    ViewData["Title"] = "DASHBOARD";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <a type="button" class="btn btn-danger mr-2" asp-controller="Book" asp-action="Index">Books</a>
    </div>
