@model  LibraryData.Models.User
@{
    var userRole = Model.RoleId;

    if (userRole == 2 || userRole == 3)
    {
        <li class="nav-item text-center swt-nav-item shadow-sm">
            <a class="nav-link text-swt-primary" asp-controller="Home" asp-action="AddContent">Add Content</a>
        </li>
    }

    if (userRole == 3)
    {
        <li class="nav-item text-center swt-nav-item shadow-sm">
            <a class="nav-link text-swt-primary" asp-controller="Admin" asp-action="Index">WaitList</a>
        </li>
    }
}