@model LibraryData.Models.Book

@{
    ViewData["Title"] = "EDIT BOOK";
}

<h1>Select Book to edit</h1>

<hr />

<form>
    <div class="d-flex flex-row">
        <div class="mr-2 align-self-center"><label class="control-label">Title</label></div>
        <div class="w-100">
            <select asp-for="Id" class="form-control border-input" asp-items="ViewBag.Books"></select>
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <input type="submit" asp-controller="Book" asp-action="Edit" value="Edit" />
    </div>
</form>

