
@{
    ViewData["Title"] = "PRIVACY & LEGAL";
}

<h1>Privacy and cookie policy </h1>
<h6>To view our cookie policy please click the button below:</h6>
<button data-toggle="collapse" class="btn btn-info" data-target="#cookie">Cookie Policy</button>

<div id="cookie" class="collapse">
    <h3>Cookies</h3>
    <p>
        Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you use our service, we may collect information from you automatically through cookies or similar technology.

        For further information, visit allaboutcookies.org.
    </p>
    <h3>How do we use cookies?</h3>
    <p>SWTlib uses cookies in a range of ways to improve your experience on our website, including:</p>
    <ul>
        <li>Keeping you signed in</li>
        <li>Understanding how you use our services</li>
    </ul>
    <h3>What types of cookies do we use?</h3>
    <p>There are a number of different types of cookies, however, our website uses:</p>
    <ul>
        <li>Functionality – SWTlib uses these cookies so that we recognize you when you use our service and remember your previously selected preferences. These could include what language you prefer, rentals etc. A mix of first-party and third-party cookies are used.</li>
    </ul>
    <h3>How to manage cookies</h3>
    <p>You can set your browser not to accept cookies. However, in a few cases, some of our service features may not function as a result.</p>
    <h3>Privacy policies of other websites</h3>
    <p>Swtlib may contain links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>
    <h3>Changes to our privacy policy</h3>
    <p>SWTlib keeps its privacy policy under regular review and places any updates on this page. This privacy policy was last updated on 15 July 2019.</p>
    <h3>How to contact us?</h3>
    <p>If you have any questions about our privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>
    <h4>Address</h4>
    <p>
        Prof. Dr. Gerald Lüttgen <br />
        Lehrstuhl für Softwaretechnik und Programmiersprachen<br />
        Fakultät WIAI<br />
        Universität Bamberg<br />
        An der Weberei 5 (ERBA)<br />
        96047 Bamberg<br />
        Germany
    </p>
    <h4>Contact</h4>
    <p>
        Phone: +49 (0)951 863-3851 <br />
        Email: gerald.luettgen &#64; uni-bamberg.de
    </p>
</div>

<h6>To view our privacy policy, please click the button below:</h6>
<button data-toggle="collapse" class="btn btn-info" data-target="#privacy">Privacy Policy</button>

<div id="privacy" class="collapse">
    <h3>What data do we collect?</h3>
    <p>SWTlib collects the following data:</p>
    <ul>
        <li>Personal identification information (Name, email address, user ID etc.)</li>
        <li>Your rental/usage data and preferences</li>
    </ul>
    <h3>How do we collect your data?</h3>
    <p>You directly provide SWTlib with most of the data we collect. We collect data and process data when you:</p>
    <ul>
        <li>Login to our service</li>
        <li>Rent/bookmark books</li>
    </ul>
    <h3>How will we use your data?</h3>
    <p>Our Company collects your data so that we can:</p>
    <ul>
        <li>Process your rentals and manage your account</li>
        <li>Collect statistical usage data to improve our service</li>
    </ul>
    <h3>How do we store your data?</h3>
    <p>Our Company securely stores your data at Otto-Freidrich Universität Bamberg.</p>
    <p>Our Company will keep your login and preference for your entire period of employment/study. Once this time period has expired, we will delete your data within three years.</p>
    <h3>What are your data protection rights?</h3>
    <p>
        Our Company would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:

    </p>
    <p>
        <b>The right to access</b> – You have the right to request Our Company for copies of your personal data. We may charge you a small fee for this service.<br />

        <b>The right to rectification</b> – You have the right to request that Our Company correct any information you believe is inaccurate. You also have the right to request Our Company to complete the information you believe is incomplete.<br />

        <b>
            The right to erasure
        </b> – You have the right to request that Our Company erase your personal data, under certain conditions.<br />

        <b>
            The right to restrict processing
        </b> – You have the right to request that Our Company restrict the processing of your personal data, under certain conditions.<br />

        <b>
            The right to object to processing
        </b>– You have the right to object to Our Company’s processing of your personal data, under certain conditions.<br />

        <b>
            The right to data portability
        </b> – You have the right to request that Our Company transfer the data that we have collected to another organization, or directly to you, under certain conditions.<br />

        If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email:<br />

        gerald.luettgen &#64; uni-bamberg.de <br />

        Call us at: +49 (0)951 863-3851


    </p>
</div>

    <h6>To view licenses, click below:</h6>
    
    <a href="#license" class="btn btn-info" data-toggle="collapse">Licenses</a>
    <div id="license" class="collapse">
        <h6>Licenses in use:</h6>
        <p><a href="https://www.gnu.org/licenses/gpl-3.0.de.html">GNU Affero General Public License v3.0</a></p>
        <p><a href="https://opensource.org/licenses/MIT">MIT License</a></p>
    </div>


