/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Color Theme
--------------------------------------------------*/

.bg-swt-primary {
    background-color: #00457d;
}

.bg-swt-secondary {
    background-color: lightgray;
}

.text-swt-primary {
    color: #fbba00;
    font-family: Arial, Helvetica, sans-serif;
}

.text-swt-primary:hover {
    color: #a77b00;
}

.text-swt-secondary {
    color: #00457d;
}

.sidenav {
    height: 800px;
}

.display-5 {
    font-size: 2vw;
    font-weight: 300;
    line-height: 1.2;
}
.display-4 {
    font-family: Arial, Helvetica, sans-serif;
}

a.clean-link {
    text-decoration: none;
    color: black;
}

#books-hover:hover {
    background-color: darkgray !important;
}

#books-hover-danger:hover {
    background-color: darkred !important;
}

#img-button {
    width: 64px;
    height: 64px;
}

.slide-content {
    animation: Slide_Up 0.3s ease;
}

@keyframes Slide_Up {
    0% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Buttons */
.swt-button {
    background-color: #00457d;
    color: white;
}

.swt-button:hover {
    background-color: #002746;
    color: white;
}

.swt-button-side {
    background-color: #00457d;
    color: white;
    width: 55px;
    border-radius: 0 !important;
}

.swt-button-side:hover {
    background-color: #002746;
    color: white;
}

input.swt-button {
    width: 8em;
    height: 3em;
}
.btn-info {
    background-color: #00457d;
    color: white;
}

.rotate {
    transform: rotate(-90deg);
    /* Legacy vendor prefixes that you probably don't need... */
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.btn-rating:focus {
    outline: none;
}

/* Dashboard */
.form-container {
    text-align: center;
}

.form {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 5px;
}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.card-deck {
    margin-top: 40px;
}


.btn-groupContainer {
    text-align: center;
}

.btn-group {
    display: inline-block;
}

.btn-swt-outline-secondary {
    border-radius: 5px 0px 0px 5px !important;
}

/* Rating System */
.thumb-green {
    color: green;
}

.thumb-red {
    color: red;
}

.thumb-hover {
    cursor: pointer;
}

.thumb-hover:hover .fa-thumbs-up:before {
    font-weight: bolder;
}

.thumb-hover:hover .fa-thumbs-down:before {
    font-weight: bolder;
}


#spinner {
    position: absolute;
    top: 20%;
    left: 50%;
    color: black;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#overlay {
    content: '';
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 2;
}

.testwrapper {
    position: relative;
}

/* Bookmarks */
.bm-yellow {
    color: darkgoldenrod;
}

.bm-hover:hover .fa-bookmark:before {
    font-weight: bolder;
    z-index: 200;
}

.bm-delete:hover .fa-window-close:before {
    color: darkred !important;
    background-color: white !important;
    z-index: 200;
}

/* Wishlist */
.arrow-hover:hover {
    color: #f9bc0b;
}
