
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


@{
    ViewData["Title"] = "ADVANCED SEARCH";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SWTlib!</h1>
</div>
<form asp-controller="Search" asp-action="Results" method="get">
    <div class="form-container">
        <div class="form">
            <!-- Search form -->
            <div class="form-inline active-cyan-3 active-cyan-4 justify-content-center">
                <div class="w-100">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <input class="form-control form-control-sm w-50" type="text" name="SearchString" placeholder="Search for 'Title' or 'ISBN'"
                           aria-label="Search">
                </div>
            </div>
            <div class="btn-groupContainer mt-3">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary rounded-0 btn-swt-outline-secondary mr-1" disabled>Advanced</button>
                    <a asp-controller="Book" asp-action="Index" class="m-0 p-0">
                        <input type="button" class="btn btn-outline-secondary rounded-0 mr-1" value="View all books" />
                    </a>
                    <input type="submit" value="Search" class="btn btn-outline-secondary" style="color: #00457d; font-weight: bold" />
                </div>
            </div>
        </div>
    </div>
    <div class="row p-4">
        <div class="w-100 pl-4 pr-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="d-flex flex-column">

                <div class="d-flex flex-row mb-4">
                    <div class="col-5">Author(s)</div>
                    <div class="w-100">
                        @Html.DropDownList("selectedAuthors", (MultiSelectList)ViewBag.Authors,
                        htmlAttributes: new { @class = "form-control border-input", id = "authors", multiple = "multiple" })
                    </div>
                </div>

                <div class="d-flex flex-row mb-4">
                    <div class="col-5"><label class="control-label">Publisher</label></div>
                    <div class="w-100">
                        <input type="text" name="SearchPublisher" class="form-control" />
                    </div>
                </div>

                <div class="d-flex flex-row mb-4 justify-content-end">
                    <div class="col-3">
                        <div class="d-flex flex-row">
                            <div class="mr-2 align-self-center"><label class="m-0">Year</label></div>
                            <div class="w-100">
                                <input type="text" name="SearchYear" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-4 pr-0">
                        <div class="d-flex flex-row">
                            <div class="mr-2 align-self-center"><label class="control-label">Room</label></div>
                            <div class="w-100">
                                <select class="form-control" name="SearchRoom" asp-items="ViewBag.Id">
                                    <option value="">-- Select Room --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-row mb-4">
                    <div class="col-5"><label>Categories</label></div>
                    <div class="w-100">
                        @Html.DropDownList("selectedCategories", (MultiSelectList)ViewBag.Categories,
                        htmlAttributes: new { @class = "form-control border-input", id = "categories", multiple = "multiple" })
                    </div>
                </div>

                <div class="d-flex flex-row mb-4">
                    <div class="col-5"><label>Keywords</label></div>
                    <div class="w-75">
                        @Html.DropDownList("selectedKeywords", (MultiSelectList)ViewBag.Keywords,
                        htmlAttributes: new { @class = "form-control border-input", id = "keywords", multiple = "multiple" })
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $(document).ready(function () {
            $("#authors").chosen({
                create_option: true,
                create_option_text: 'Add Author',
                skip_no_results: true,
                placeholder_text_multiple: "-- Select author(s) --"
            });
            $("#categories").chosen({
                placeholder_text_multiple: "-- Select category(s) --"
            });
            $("#keywords").chosen({
                create_option: true,
                create_option_text: 'Add Keyword',
                skip_no_results: true,
                placeholder_text_multiple: "-- Select keyword(s) --"
            });
        });
    </script>
}

