@model IEnumerable<LibraryData.Models.WaitListEntry>

@{
    ViewData["Title"] = "WAITLIST";
}

<!-- Breadcrumb Navigation-->
<ul class="breadcrumb bg-white">
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Waitlist</li>
</ul>

<!-- Main Content -->




<table style="width:100%">
    <tr>
        <th id="name">Name</th>
        <th id="email">E-Mail</th>
        <th id="role">Role</th>
        <th id="approve"></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td headers="name">@Html.DisplayFor(modelItem => item.Name)</td>
            <td headers="email">@Html.DisplayFor(modelItem => item.Email)</td>
            <td headers="role">
                <form asp-action="Approve" asp-controller="Admin" method="post" asp-route-userid="@item.Id">
                    <input type="hidden" asp-for="@item.Id" />
                    <select class="form-control" asp-items="ViewBag.RoleName"></select>
                    <button type="submit" class="btn btn-danger">Approve</button>
                </form>
            </td>
            <td headers="approve"></td>
        </tr>
    }
</table>
