@model LibraryData.Models.Rental

@{
    ViewData["Title"] = "RENT BOOK";
}

<h2>Do you want to rent the following book? </h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <div>
            <div><h4>Title</h4></div>
            <div>@Model.Book.Title</div>
        </div>
        <br />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" }) @Html.HiddenFor(model => model.BookId) @Html.HiddenFor(model => model.RentalDate)
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div>
               
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

